body {
    background-color:greenyellow;
    text-align: left;
  }
  #heading {
    color:blueviolet;
    text-decoration: underline;
  }
  .rectangle {
    height: 50px;
    width: 100vw;
    background-color: coral;
    align-items: center;
  }
  #menubar{
    white-space: pre;
    font-size: 24px;
    font-family: cursive;
  }
  #mainText{
    color: blueviolet;
    font-size: 18px;
    font-family: cursive;
  }
  #pText{
    color: midnightblue;
    font-size: 16px;
    font-family: cursive;
  }
