body {
    background-color: aqua;
    text-align: left;
  }
  #heading {
    color:rgb(24, 225, 51);
    text-decoration: underline;
  }
  .rectangle {
    height: 50px;
    width: 100vw;
    background-color: aquamarine;
    align-items: center;
  }
  #menubar{
    white-space: pre;
    font-size: 24px;
    font-family: cursive;
  }
  #mainText{
    color: rgb(24, 225, 51);
    font-size: 18px;
    font-family: cursive;
  }
  #csHeading {
    color:rgb(24, 225, 51);
    font-size: 28px;
    font-family: cursive;
    text-decoration: underline;
  }
  #pText{
    color: rgb(24, 225, 51);
    font-size: 16px;
    font-family: cursive;
  }
  #fText{
    color: rgb(24, 225, 51);
    font-family: cursive;
  }
  #meme-heading {
    color: rgb(24, 225, 51);
    text-align: center;
  }
  .ln {
    font-family: cursive;
    font-size: large;
  }

  a {
    color: coral;
  }